.gallery {
  background-color: beige;
  max-height: 1500px;
}

.block-title {
  color: #313131;
  font-family: 'Raleway', serif !important;
  font-size: 30px;
  text-align: center;
  
  }

.wrapper-boxes {
  display: flex;
  
  flex-direction: row;
  flex-wrap: wrap;
  width:100%;
  justify-content: space-around;
 


}
.box {
  margin: auto;

 
}

.img-box {
  max-width: 300px;
  max-height: 200px;
  border-radius: 10px;
  
}
.box-job-wrap {
  margin-top: 30px;
  overflow: hidden;
  border-radius: 10px;
}


.box-job-wrap a {
  display: block;

}

.box-job-wrap:hover a {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}



button {
  width: 40%;
  line-height: 40px;
  background-color: orange;
  border: 4px solid #fff;
  color: #fff;
  text-align: center;
  
  border-radius: 10px;
  height: 50px;
  margin:0 auto;
  margin-bottom: 20px;
  display:block;
  position: relative;

}
